/*.center-texting {
	display: block;
	text-align: center;
}*/

body {
	background-color: #ffffff;
}

.st-title {
	position: fixed;
	text-align: center;
	font-size: 5em;
	z-index: 0;
	margin-top: 100px;
}

.navbar {
	background-color: #070217;
	border: none;
	border-radius: 0px;
}

#scroll_bar {
	opacity: 0.7;
}

#scroll_bar:hover {
	opacity: 1;
}

/*.navbar-title {
	font-size: 30px;
	font: bold;
	margin-top: 5px;
	text-align: center;
}*/

.navbar-form {
	text-align: center;
	margin: 15px;
}

.text-box {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.search-button {
	/*margin-bottom: 18px;*/
	margin-left: -4px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.glyphicon-search {
	font-size: 11px;
}


.dropdown-options {
	margin-left: -4px;
	border-radius: 0px;
}

footer {
	margin-top: 10px;
}

.main-container {
	box-shadow: 7px 3px 7px 3px #888888;
}

.main-menu {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 0;
}

a {
	color: #918F7C;
}

a:hover {
	color: #E46764;
	text-decoration: none;
}

.add-bottons {
	text-align: center;
}

.last-added-items {
	text-align: center;
}

.last-items-bar {
	border-left-style: groove;
	border-left-color: #918F7C;
	border-left-width: 8px;
	background-color: #ffffff;
}

.songs-author {
	text-align: right;
}

.song-title {
	text-align: center;
}

.artist-wallpaper {
	width: 50%;
}

.movie-poster {
	width: 70%;
}

.movie-director {
	text-align: right;
}

.album-cover {
	width: 5%;
}

.albums-list {
	background-color: #ffffff;
}

.albums {
	background-color: #eeeeee;
}

.songs {
	background-color: #eeeeee;
}

.songs-list {
	background-color: #ffffff;
}

.albums-list ul {
	list-style: none;
}

.songs-list ul {
	list-style: none;
}

.movie-header {
	background-color: #ffffff;
	border-radius: 10px;
}

.song-characts {
	text-align: right;
}

.song-movies {
	background-color: #eeeeee;
}

.song-movies-list {
	background-color: #ffffff;
}

.song-movies-list ul {
	list-style: none;
}

.song-movies-poster {
	width: 5%;
}

.album-cover-main {
	width: 70%;
}

.album-header {
	background-color: #ffffff;
	border-radius: 10px;
}

.album-artists {
	text-align: right;
}

.album-songs-header {
	background-color: #eeeeee;
}

.album-tracklist {
	background-color: #ffffff;
}

.album-tracklist ul {
	list-style: none;
}



/* tagcloud*/
#htmltagcloud {
	line-height: 2.4em;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
	text-align: justify;
	text-indent: 0;
	z-index: -1;
}

#htmltagcloud a:link {
	text-decoration: none;
}

#htmltagcloud a:visited {
	text-decoration: none;
}

#htmltagcloud a:hover {
	color: white;
	background-color: #05f;
}

#htmltagcloud a:active {
	color: white;
	background-color: #03d;
}

.wrd {
	padding: 0;
	position: relative;
}

.wrd a {
	text-decoration:none;
}

.tagcloud0 {
	font-size: 1.0em;
	color: #83b5dd;
	z-index: 10;
}

.tagcloud0 a {
	color: #83b5dd;
}

.tagcloud1 {
	font-size: 3.0em;
	color: #9b90c8;
	z-index: 5;
}

.tagcloud1 a {
	color: #9b90c8;
}

.tagcloud2 {
	font-size: 3.6em;
	color: #006bb6;
	z-index:3;
}

.tagcloud2 a {
	color: #006bb6;
}

.tagcloud3 {
	font-size: 4.5em;
	color: #e46764;
	z-index: 0;
	opacity: 1;
}

.tagcloud3 a {
	color: #e46764;
}

.freq {
	font-size: 10pt !important;
	color: #bbb;
}